@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Signika+Negative&display=swap');

.first {
    font-family: 'Signika Negative', sans-serif;
    align-items: center;
    background-color: #93c09e;
    color: #115473;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
}

.first li{
    list-style-type: circle;
    list-style-position: inside;
}

.first h2 {
    font-family: 'Lobster', cursive;
    align-items: center;
    color:#136185;
}

.meditation {
    background-color: #93c09e;
}

.meditation img {
    border-radius: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-style: dashed;
    border-width: thick;
    border-color: #136185;
}
.papers img {
    border-radius: 50%;
    border-bottom-left-radius: 80%;
}

#fade-in {
    opacity: 0;
    transition: opacity 1s;
}

#fade-in2 {
    opacity: 0;
    transition: opacity 1s;
}

.box2 {
    background-color: #93c09e;
    color:#136185;
}

.contacts_h2 {
    font-family: 'Lobster', cursive;
    color: #115473;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
.contacts {
    font-family: 'Signika Negative', sans-serif;
    align-items: center;
    color: #115473;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

/* .cat {
    position: absolute;
    bottom: 0;
    right: 0;
} */
