.sisu1 {
    background-color: #93c09e;
    background-size: cover;
    
}

.sisu1_sisemine {
    font-family: "Lobster", cursive;
    color: #115473;
    text-align: center;
    font-size: 30px;
}

.sisu1_tekst {
    font-family: "Signika Negative", sans-serif;
    text-align: left;
    font-size: 20px;
    margin-left: 80px;
    margin-right: 80px;
    color:#115473;

}

.sisu1_tekst h2 {
    color: #115473;
    text-decoration: underline;
    text-align: left;
}

.sisu1_tekst ul li {
    list-style-type: disc;
    color:#115473;
    margin-left: 50px;
}

.rida {
    display: flex;
}

.veerg {
    flex: 50%
}

.sisu1_tekst ol{
    color: #115473;
    margin-left: 20px;
}

.sisu1_tekst ol li {
    list-style-type: none;
}

.rida2 {
    display: flex;
}

.veerg2 {
    flex: 50%;
    text-align: center;
    margin-right: 50px;
}

.sisu2 {
    background-color: #115473;
    height: 650px;
    background-size: cover;
}

.sisu2_sisemine {
    font-family: "Lobster", cursive;
    color: #93c09e;
    text-align: center;
    font-size: 40px;
    margin-left: 50px;
    
}

.sisu2_tekst {
    font-family: "Signika Negative", sans-serif;
    text-align: center;
    font-size: 20px;
    color: white;
}

.pilt {
    text-align: justify;
    display: flex;
    width: 100%;
    max-width: 550px;
    height: auto;
    margin: 0 auto;
}

#fade-in {
    opacity: 0;
    transition: opacity 1s;
}

#fade-in2 {
    opacity: 0;
    transition: opacity 1s;
}