@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Signika+Negative&display=swap');

* { 
    margin: 0;
    padding: 0;
    overflow: auto;

}
body {
    background-color: #93c09e;
}
.box {
    height: 60px;
    width: 100%;
    display: block;
    background-color: #136185;
}
.inside_box {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: block;
}
.pealkiri {
    height: 100%;
    display: table;
}
.pealkiri h1{
    font-family: 'Lobster', cursive;
    color: #93c09e;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 38px;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
}

.first {
    font-family: 'Signika Negative', sans-serif;
    align-items: center;
    color: #136185;
    font-size: 20px;
    line-height: 1.6;
}
ul.first {
    list-style-type: circle;
    list-style-position: inside;
}
.first h2 {
    font-family: 'Lobster', cursive;
    align-items: center;
    color:#136185;
}
.meditation img {
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    border-style: dashed;
    border-width: thick;
    border-color: #136185;
}
.papers img {
    border-radius: 50%;
    border-bottom-left-radius: 80%;
}

.box2 {
    height: 200px;
    width: 70%;
    background-color: #136185;
    background-position: center;
}
.contacts_h2 {
    font-family: 'Lobster', cursive;
    color: #a1d0e6;
}
.contacts {
    font-family: 'Signika Negative', sans-serif;
    align-items: center;
    color: #a1d0e6;
    font-size: 16px;
    line-height: 1.5;
}
.cat {
    display: block;
    float: left;
    height: 60px;
    background: inherit;
}






button {
    padding: 0;
    border: 0;
    background: inherit;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
    float: left;
}
#audio-player-container {
    --seek-before-width: 0%;
    --volume-before-width: 100%;
    --buffered-width: 0%;
    position: relative;
    margin: 100px 5% auto 5%;
    width: 90%;
    height: 60px;
    background: rgb(160,246,194);
    background: radial-gradient(circle, rgba(160,246,194,1) 0%, rgba(23,104,185,0.9878326330532213) 80%);
}
#audio-player-container::before {
    position: absolute;
    content: '';
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: rgb(77,168,114);
    background: linear-gradient(90deg, rgba(77,168,114,1) 0%, rgba(193,42,42,1) 50%, rgba(24,106,200,1) 100%);
    z-index: -1;
}
p {
    position: absolute;
    top: -18px;
    right: 5%;
    padding: 0 5px;
    margin: 0;
    font-size: 28px;
    color: #051662;
    font-family: 'Signika Negative', sans-serif;
}
#play-icon {
    margin: 20px 2.5% 20px 2.5%;
}
path {
    stroke: #051662;
}
.time {
    display: inline-block;
    width: 37px;
    text-align: center;
    font-size: 20px;
    margin: 28.5px 0 18.5px 0;
    float: left;
}
output {
    display: inline-block;
    width: 32px;
    text-align: center;
    font-size: 20px;
    margin: 10px 2.5% 0 5%;
    float: left;
    clear: left;
    background: #052ad0;
}
#volume-slider {
    margin: 10px 2.5%;
    width: 58%;
    background: rgb(160,246,194);
    background: radial-gradient(circle, rgba(160,246,194,1) 0%, rgba(23,104,185,0.9878326330532213) 80%);
}
#volume-slider::-webkit-slider-runnable-track {
    background: rgb(160,246,194);
    background: radial-gradient(circle, rgba(160,246,194,1) 0%, rgba(23,104,185,0.9878326330532213) 80%);
}
#volume-slider::-moz-range-track {
    background: rgb(160,246,194);
    background: radial-gradient(circle, rgba(160,246,194,1) 0%, rgba(23,104,185,0.9878326330532213) 80%);
}
#volume-slider::-ms-fill-upper {
    background: rgb(160,246,194);
    background: radial-gradient(circle, rgba(160,246,194,1) 0%, rgba(23,104,185,0.9878326330532213) 80%);
}
#volume-slider::before {
    width: var(--volume-before-width);
}
#mute-icon {
    margin: 0 2.5%;
}
input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    width: 48%;
    margin: 0;
    padding: 0;
    height: 19px;
    margin: 30px 2.5% 20px 2.5%;
    float: left;
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: rgb(77,168,114);
    background: linear-gradient(90deg, rgba(77,168,114,1) 0%, rgba(193,42,42,1) 50%, rgba(24,106,200,1) 100%);
}
input[type="range"]::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: var(--seek-before-width);
    height: 3px;
    background-color:  #136185;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid  #136185;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: rgb(160,246,194);
    background: radial-gradient(circle, rgba(160,246,194,1) 0%, rgba(23,104,185,0.9878326330532213) 80%);
    cursor: pointer;
    margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background:  #136185;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(77,168,114,1) 0%, rgba(193,42,42,1) 50%, rgba(24,106,200,1) 100%);
}
input[type="range"]::-moz-range-progress {
    background:  #136185;   
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #136185;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: rgb(160,246,194);
    background: radial-gradient(circle, rgba(160,246,194,1) 0%, rgba(23,104,185,0.9878326330532213) 80%);
    cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: #136185;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background-color: #136185;
}
input[type="range"]::-ms-fill-upper {
    background: rgb(77,168,114);
    background: linear-gradient(90deg, rgba(77,168,114,1) 0%, rgba(193,42,42,1) 50%, rgba(24,106,200,1) 100%);
}
input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: rgb(160,246,194);
    background: radial-gradient(circle, rgba(160,246,194,1) 0%, rgba(23,104,185,0.9878326330532213) 80%);
    cursor: pointer;
}
input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background: #136185;
}