*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    

}

.header {
    height: 60px;
    width: 100%;
    background-color:rgb(118, 196, 250);
    display: block;
    
}

.sisemine_header {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: block;
    
}

.pealkiri {
    height: 100%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    
   
    
}

.pealkiri h1 {
    color: rgb(17, 84, 115);
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Lobster', cursive;
    font-size: 38px;
}
    
body  {
    background-color: rgb(147, 192, 152) ;

}
    
.tutvustus {
    height: 60px;  
    display: table;
    margin-left: auto;
    margin-right: auto;
    
}

.tutvustus b {
    color: rgb(17, 84, 115);
    height: 100%;
    display: table-cell;
    vertical-align: bottom;
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
}
.meditatsioon{
    height: 200px;  
    display: table;
    margin-left: auto;
    margin-right: auto;

}
.meditatsioon b {
    color: rgb(17, 84, 115);
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Signika Negative', sans-serif;
    font-size: 15px;
}
.meditatsioon_pilt img{
   
}
